<!DOCTYPE HTML>
<html>
<div th:replace="head_style :: headFragm">
	<title id="headSupplement">Getting Started: Serving Web Content</title>
</div>

<body>

<header id="top">
    <h1><a href="#top" scrollto><img src="images/Logo.png" alt="Home"/></a></h1>
    <nav id="mainnav">
		<ul>
		<li><a th:href="@{${loginSrcLink}}"><span th:text="${contentLogin}" /> </a></li>
		<li><a href='#contact' scrollto><span th:text="${contentIndexContact}" /></a></li>
		<li><a href='$changeLang'><span th:text="${contentLang}" /></a></li> 
		</ul>
    </nav>
</header>

<div id='protoWrapper'>
<div id='protoFront'>

	<article>

    <p th:text="'Hello, ' + ${name} + ${#httpServletRequest.remoteUser} + '!'" />
	
	<div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">		
		Logged in user: <span sec:authentication="name"></span> |					
		Roles: <span sec:authentication="principal.authorities"></span>				
		<div>
			<form action="#" th:action="@{/logout}" method="post">					
				<input type="submit" value="Logout" />
			</form>
		</div>
	</div>
	
	</article>
</div>

<div th:replace="footer :: footerFragm"></div>

</div>
</body>
</html>